@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--app-background: #ffffff;
	--app-color: #000000;
	--app-primary: #f75394;
	@apply ease-in-out duration-300;
	@apply text-xl text-[#BFBFBF];
}
:root.dark {
	--app-background: #0f0f0f;
	--app-color: #ffffff;
	@apply ease-in-out duration-300;
}
html {
	@apply antialiased;
	background-color: var(--app-background);
	color: var(--app-color);
}
body {
	background-image: url('/images/plasma.png');
	background-repeat: no-repeat;
	background-size: cover;
	@apply h-screen w-screen;
}
